# On the first 3 lines the first field is the .cfg path, the second is the
# release directory which the .cfg has paths to, the third is the resulting
# tarfile name, and the optional forth field specifies a pattern to substitute
# in the install path. (So the first line specifies that the install path be
# /m/lf/shaft/next/builds/release/Jefferson/LS.TA.P109)

/users/kjorbina/vad/config/Flamingo/Flamingo.VAD.cfg         dsfgdf               lf.VAD.tar  /Flamingo/Dfgdfg/
/users/kjorbina/vad/config/Flamingo/Flamingo_Kernel.VAD.cfg  dfgdfg      fwb.VAD.tar
/users/kjorbina/vad/config/Flamingo/Flamingo_Netapps.VAD.cfg dfgdfg              nf.VAD.tar
#/bonus/scratch/kjorbina/config/Pride/btools_PS.VAD.bt      *                                                         btools.VAD.tar

TOP_DIR LR.FL.P311H
COMPRESSED_FILE LR.FL.P311H.VAD.tar.gz
