#menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu li {
	float: left;
	background-color: red;
	position: relative;
	border-right: #c9c9c9 1px solid;
}
#menu li a {
	color:white;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
}
#menu li a:hover {
	color: red;
	border-top: #c9c9c9 2px solid;
	background-color: #c9c9c9;
	text-decoration: none;
}
#menu li a:active li a{
	color: #069;
	background: #c9c9c9;
	text-decoration: none;
}