/*Initialize*/
ul#menu1, ul#menu1 ul.sub_home{
    padding:0;
    margin-right: 150px;
    float:right;
}
ul#menu1 li, ul#menu1 ul.sub_home li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu1 li a, ul#menu1 li ul.sub_home li a {
    text-decoration: none;
    color: #fff;
    background: #666;
    padding: 5px;
    display:inline-block;
   
}
/*Make the parent of sub-menu relative*/
ul#menu1 li {
    position: relative;
}
/*sub menu*/
ul#menu1 li ul.sub_home {
    display:none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 0;
}
ul#menu1 li:hover ul.sub_home{
    display:block;
    } 