body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  
}

.wrapper {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 400px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 100%) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #FFFAF0;
}
/*accounts rows, even row*/
.row:nth-of-type(odd) {
  background: #B0C4DE;
}
.row.header {
  font-weight: 900;
  color: white;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 100%) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 0px 10px ;
  display: table-cell;
}

.headercell {
  padding: 10px 10px ;
  display: table-cell;
}

.deletecell {
  padding: 4px 10px;
  display: table-cell;
}

@media screen and (max-width: 100%) {
  .cell {
    padding: 0px 10px;
    display: block;
  }
}


