/*
*	RESET
*/
*{
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

*:after,
*:before {
	box-sizing: border-box;
}

/*
*	GLOBAL
*/
html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}


/*family_close*/

a.close_family {
	background-color: rgb(204,204,204);
	border-radius: 50%;
	color: rgb(255,255,255);
	display: block;
	font-family: 'Varela Round', sans-serif;
	font-size: .8em;
	padding: .2em .5em;
	position: absolute;
	top: 1.25rem;
	transition: all 400ms ease;
	right: 1.25rem;
}
	
	a.close_family:hover {
		background-color: #1bc5b3;
		cursor: pointer;
	}

/*product_close*/

a.close_product {
	background-color: rgb(204,204,204);
	border-radius: 50%;
	color: rgb(255,255,255);
	display: block;
	font-family: 'Varela Round', sans-serif;
	font-size: .8em;
	padding: .2em .5em;
	position: absolute;
	top: 1.25rem;
	transition: all 400ms ease;
	right: 1.25rem;
}
	
	a.close_product:hover {
		background-color: #1bc5b3;
		cursor: pointer;
	}

/*bcl_close*/

a.close_bcl {
	background-color: rgb(204,204,204);
	border-radius: 50%;
	color: rgb(255,255,255);
	display: block;
	font-family: 'Varela Round', sans-serif;
	font-size: .8em;
	padding: .2em .5em;
	position: absolute;
	top: 1.25rem;
	transition: all 400ms ease;
	right: 1.25rem;
}
	
	a.close_bcl:hover {
		background-color: #1bc5b3;
		cursor: pointer;
	}


/*
*	Family BOX
*/
div.family {
	background-color: rgba(0,0,0,.25);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

	div.family > div.add_family {
		align-self: center;
		background-color: rgba(0,0,0,.25);
		border-radius: 2px;
		padding: 6px;
		width: 450px;
	}
	
		div.family > div.add_family > div.addfamily-content {
			background-color: rgb(255,255,255);
			border-radius: 2px;
			padding: 24px;	
			position: relative;
		}
		
			div.family > div.add_family > div.addfamily-content > h3 {
				color: rgb(0,0,0);
				font-family: 'Varela Round', sans-serif;
				font-size: 1.2em;
				margin: 0 0 1.25em;
				padding: 0;
			}

/*
*	Product BOX
*/
div.product {
	background-color: rgba(0,0,0,.25);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

	div.product > div.add_product {
		align-self: center;
		background-color: rgba(0,0,0,.25);
		border-radius: 2px;
		padding: 6px;
		width: 450px;
	}
	
		div.product > div.add_product > div.addproduct-content {
			background-color: rgb(255,255,255);
			border-radius: 2px;
			padding: 24px;	
			position: relative;
		}
		
			div.product > div.add_product > div.addproduct-content > h3 {
				color: rgb(0,0,0);
				font-family: 'Varela Round', sans-serif;
				font-size: 1.2em;
				margin: 0 0 1.25em;
				padding: 0;
			}

/*
*	BCL BOX
*/
div.bcl {
	background-color: rgba(0,0,0,.25);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

	div.bcl > div.add_bcl {
		align-self: center;
		background-color: rgba(0,0,0,.25);
		border-radius: 2px;
		padding: 6px;
		width: 450px;
	}
	
		div.bcl > div.add_bcl > div.addbcl-content {
			background-color: rgb(255,255,255);
			border-radius: 2px;
			padding: 24px;	
			position: relative;
		}
		
			div.bcl > div.add_bcl > div.addbcl-content > h3 {
				color: rgb(0,0,0);
				font-family: 'Varela Round', sans-serif;
				font-size: 16px;
				margin: 0 0 1.25em;
				padding: 0;
			}


/*
*	FORM
*/
form label {
	color: rgb(0,0,0);
	display: block;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.20em;
	
}

	form input[type="text"],
	form input[type="email"],
	form input[type="number"],
	form input[type="search"],
	form input[type="password"],
	form select,
	form textarea{
		background-color: rgb(255,255,255);
		border: 1px solid rgb( 186, 186, 186 );
		border-radius: 1px;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
		display: block;
		font-size: .65em;
		margin: 6px 0 12px 0;
		padding: .8em .55em;	
		text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
		transition: all 400ms ease;
		width: 90%;
	}
	
	form input[type="text"]:focus,
	form input[type="email"]:focus,
	form input[type="number"]:focus,
	form input[type="search"]:focus,
	form input[type="password"]:focus,
	form textarea:focus,
	form select:focus { 
		border-color: #4195fc;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
	}
	
		form input[type="text"]:invalid:focus,
		form input[type="email"]:invalid:focus,
		form input[type="number"]:invalid:focus,
		form input[type="search"]:invalid:focus,
		form input[type="password"]:invalid:focus,
		form textarea:invalid:focus,
		form select:invalid:focus { 
			border-color: rgb(248,66,66);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
		}
	
form button {
	background-color: #50c1e9;
	border: 1px solid rgba(0,0,0,.1);
	color: rgb(255,255,255);
	font-family: 'Varela Round', sans-serif;
	font-size: .85em;
	padding: .55em .9em;
	transition: all 400ms ease;	
}

	form button:hover {
		background-color: #1bc5b3;
		cursor: pointer;
	}

   .button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e439c), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e439c, #65a9d7);
   background: -moz-linear-gradient(top, #3e439c, #65a9d7);
   background: -ms-linear-gradient(top, #3e439c, #65a9d7);
   background: -o-linear-gradient(top, #3e439c, #65a9d7);
   padding: 20px 40px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-bottom: 3px;
   cursor: pointer;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

div.options {

	margin-top: 100px;
	margin-left:auto;
	margin-right:auto;
	width: 300px;
	text-align: center;
}



