# On the first 3 lines the first field is the .cfg path, the second is the
# release directory which the .cfg has paths to, the third is the resulting
# tarfile name, and the optional forth field specifies a pattern to substitute
# in the install path. (So the first line specifies that the install path be
# /m/lf/shaft/next/builds/release/Jefferson/LS.TA.P109)

/users/kjorbina/vad/config/Bradshaw/Bradshaw.VAD.cfg         fadf               lf.VAD.tar  /Bradshaw/Fgsfgf/
/users/kjorbina/vad/config/Bradshaw/Bradshaw_Kernel.VAD.cfg  fgfg      fwb.VAD.tar
/users/kjorbina/vad/config/Bradshaw/Bradshaw_Netapps.VAD.cfg fgsfgsdf              nf.VAD.tar
#/bonus/scratch/kjorbina/config/Pride/btools_PS.VAD.bt      *                                                         btools.VAD.tar

TOP_DIR LR.BS.P311E2
COMPRESSED_FILE LR.BS.P311E2.VAD.tar.gz
