# On the first 3 lines the first field is the .cfg path, the second is the
# release directory which the .cfg has paths to, the third is the resulting
# tarfile name, and the optional forth field specifies a pattern to substitute
# in the install path. (So the first line specifies that the install path be
# /m/lf/shaft/next/builds/release/Jefferson/LS.TA.P109)

/users/kjorbina/vad/config/Camaro/Camaro.VAD.cfg         test               lf.VAD.tar  /Camaro/Test/
/users/kjorbina/vad/config/Camaro/Camaro_Kernel.VAD.cfg  test      fwb.VAD.tar
/users/kjorbina/vad/config/Camaro/Camaro_Netapps.VAD.cfg test              nf.VAD.tar
#/bonus/scratch/kjorbina/config/Homestretch/btools_PS.VAD.bt      *                                                         btools.VAD.tar

TOP_DIR LHS30.CM2.P301
COMPRESSED_FILE LHS30.CM2.P301.VAD.tar.gz
